<div class="row show-grid">
  <div class="col-lg-6 offset-lg-3" style="margin: 20px auto;">
    <h3 style="text-align: center;">Projek 1</h3>
    <p style="width: 100%; text-align: center;margin-top: 20px;">
      <a nbButton style="margin-right: 10px;vertical-align: middle;white-space: nowrap;display: inline-block;" size="small">Manage Project</a>
      <a nbButton style="margin-right: 10px;vertical-align: middle;white-space: nowrap;display: inline-block;" size="small">Edit Startup Profile</a>
    </p>
  </div>
  <div class="col-lg-12" style="display: flex;flex-direction: row;flex-wrap: wrap;">
    <div class="row show-grid">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 1</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 2</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 3</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 4</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 5</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 6</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 7</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 8</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 9</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 10</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 11</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <nb-card class="projectListItem" routerLink="/pages/projects/steps-detail">
          <nb-card-header>
            <nb-icon class="projectIcon" icon="behance-outline"></nb-icon>
            <h6 style="margin-top: 10px;">Step 12</h6>
          </nb-card-header>
          <nb-card-body>
            Deskripsi Projek, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>