<div style="width: 100%;height: calc( 100vh - 190px );overflow: hidden;">
  <nb-card style="width: 100%;height: calc( 100vh - 220px );display: flex;background-image: url('https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/5395754/600/400/m2/fpnw/wm0/construction-site-1-.jpg?1542619265&s=2944a95bed8b076b68b3075aa43c2be2');background-position: center;background-size: cover;backdrop-filter: opacity(20%);">
    <nb-card-body style="text-align: center;position: relative; top: 33%;">
    </nb-card-body>
  </nb-card>
</div>